/* CSS for recipe display */

div.info {
    color: green;
    background-color: lightgrey;
    padding: 0.5rem;
}

div.error {
    color: red;
    background-color: lightgrey;
    padding: 0.5rem;
}

/* General structure */
div.recipe-diagram {
    display: table;
    table-layout: fixed;
    width: 100%;
    min-width: 60rem;
}

div.recipe-headers {
    display: table-header-group ;
}

div.recipe-body {
    display: table-row-group ;
}

div.recipe-spacer {
    display: block;
    height: 0.5rem;
}

div.recipe-row {
    display: table-row;
}

/* Column for time values */
span.col-time {
    display: table-cell;
    width: 3rem;
}

/* Column for preparation (sequence of steps) */
span.col-process {
    display: table-cell;
    min-width: 12rem;
}

/* Column for base ingredients */
span.col-ingredient {
    display: table-cell;
    min-width: 10rem;
}

span.time-slot {
    border-top: solid lightgray ;
    border-top-width: 1px;
}

/* Heading cell for preparation - name of preparation */
span.recipe-preparation {
    display: table-cell;
    font-weight: bold;
}

/* Cell for vessel (pan) for preparation */
span.recipe-vessel {
    display: table-cell;
    font-style: italic;
}

/* Cell for general column header */
span.recipe-heading {
    font-weight: bold;
}

/* Cell for start of sub-preparation */
span.recipe-prep-start {
    display: table-cell;
    padding: 0.2rem;
    padding-top: 6mm;
    padding-left: 6mm;
    background-image: url(../images/prep-start.png);
    background-repeat: no-repeat;
    background-position: bottom -4.0mm left -0.2mm;
    background-clip: border-box;
}

/* Cell for step in preparation */
span.recipe-step {
    display: table-cell;
    padding: 0.2rem;
    padding-left: 6mm;
    background-image: url(../images/prep-step.png);
    background-repeat: no-repeat;
    background-position: bottom -1.6mm left ;
    background-clip: border-box;
}

/* Cell for pass in preparation (nothing to do in the current row) */
span.recipe-pass {
    display: table-cell;
    padding-left: 6mm;
    background-image: url(../images/prep-step.png);
    background-repeat: no-repeat;
    background-position: center left ;
    background-clip: border-box;
}

/* Unused/empty cell */
span.recipe-skip {
    display: table-cell;
    /*visibility: hidden;*/
}

/* Cell for end of sub-preparation (turn to merge left) */
span.recipe-prep-end {
    display: table-cell;
    padding: 0.2rem;
    padding-left: 6mm;
    padding-bottom: 2mm;
    background-image: url(../images/sub-prep-end.png);
    background-repeat: no-repeat;
    background-position: bottom 0.12mm left -2.4mm ;
    background-clip: border-box;
}

/* Cell for connecting sub-preparation accross to target preparation */
span.recipe-prep-across {
    display: table-cell;
    padding: 0.2rem;
    padding-left: 6mm;
    padding-bottom: 6mm;
    background-image: url(../images/sub-prep-across.png);
    background-repeat: no-repeat;
    background-position: bottom -6mm left -10mm ;
    background-clip: border-box;
}

/* Cell for merging sub-preparation accross to target preparation */
span.recipe-prep-merge {
    display: table-cell;
    padding: 0.2rem;
    padding-left: 6mm;
    padding-bottom: 6mm;
    background-image: url(../images/sub-prep-merge.png);
    background-repeat: no-repeat;
    background-position: bottom -6mm left  ;
    background-clip: border-box;
}

span.recipe-end {
    display: table-cell;
    font-style: italic;
    padding: 0.2rem;
    padding-left: 6mm;
    padding-bottom: 4mm;   
    background-image: url(../images/prep-end.png);
    background-repeat: no-repeat;
    background-position: bottom -1.6mm left -0.4mm ;
    background-clip: border-box;
}

/*
div.grid-row {
    display: block;
}
*/

span.grid-track {
    display: inline;
}

span.grid-body {
    display: inline;
}

span.grid-track::before {
    display: inline;
    content: " || ";
}

span.grid-cell {
    display: inline;
}


/*

            <div class="recipe-row">
                <span class="col-time">Time</span>
                <span class="col-process recipe-preparation">Kedgeree</span>
                <span class="col-process recipe-preparation">Onion, ginger, etc.</span>
                <span class="col-process recipe-preparation">Poached fish</span>
                <span class="col-process recipe-preparation">Eggs</span>
            </div>
            <div class="recipe-row">
                <span class="col-time"></span>
                <span class="col-process recipe_vessel">Kedgeree</span>
                <span class="col-process recipe_vessel">Onion, ginger, etc.</span>
                <span class="col-process recipe_vessel">Poached fish</span>
                <span class="col-process recipe_vessel">Eggs</span>
            </div>
        </div>
        <div class="recipe-body">
            <div class="recipe-row">
                <span class="col-time">20</span>
                <span class="col-process recipe_step">@@@</span>
                <span class="col-process recipe_step">@@@</span>
                <span class="col-process recipe_step">@@@</span>
                <span class="col-process recipe_step">@@@</span>
            </div>

            <div class="recipe-row">
                <span class="col-time">@@@</span>
                <span class="col-process recipe_skip">@@@</span>
                <span class="col-process recipe_skip">@@@</span>
                <span class="col-process recipe_skip">@@@</span>
                <span class="col-process recipe_skip">@@@</span>
            </div>

*/



/* display: table                /* <table>     */
/* display: table-cell           /* <td>        */
/* display: table-row            /* <tr>        */
/* display: table-column         /* <col>       */
/* display: table-column-group   /* <colgroup>  */
/* display: table-footer-group   /* <tfoot>     */
/* display: table-header-group   /* <thead>     */


